<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
      
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="current_session_context_class">thread</property>
    	<property name="hibernate.connection.datasource">java:comp/env/jdbc/debug</property>
    	<property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/debugathor</property>
        <property name="hibernate.connection.username">root</property>
        <mapping class="fr.formation.utils.HibernateUtils"/>
        <mapping class="fr.formation.entities.Logiciel"/>
        <mapping class="fr.formation.entities.Proposition"/>
        <mapping class="fr.formation.entities.PropositionId"/>
        <mapping class="fr.formation.entities.Utilisateur"/>
        <mapping class="fr.formation.entities.Solution"/>
        <mapping class="fr.formation.dao.LogicielDAO"/>
        <mapping class="fr.formation.dao.PropositionDAO"/>
        <mapping class="fr.formation.dao.SolutionDAO"/>
        <mapping class="fr.formation.dao.UtilisateurDAO"/>
    </session-factory>
</hibernate-configuration> -->
