<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
      
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <property name="current_session_context_class">thread</property>
    	<property name="hibernate.connection.datasource">java:comp/env/jdbc/debug</property>
<!--         <property name="hibernate.bytecode.use_reflection_optimizer">false</property> -->
<!--         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--         <property name="hibernate.connection.password">123456</property> -->
<!--         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/debugathor</property> -->
<!--         <property name="hibernate.connection.username">root</property> -->
        <mapping class="fr.formation.utils.HibernateUtils"/>
        <mapping class="fr.formation.beans.Logiciel"/>
        <mapping class="fr.formation.beans.Proposition"/>
        <mapping class="fr.formation.beans.Utilisateur"/>
        <mapping class="fr.formation.beans.Solution"/>
        <mapping class="fr.formation.controller.App"/>
        <mapping class="fr.formation.dao.LogicielHome"/>
        <mapping class="fr.formation.dao.PropositionHome"/>
        <mapping class="fr.formation.dao.SolutionHome"/>
        <mapping class="fr.formation.dao.UtilisateurHome"/>
    </session-factory>
</hibernate-configuration>
